<nav-bar></nav-bar>

<div>
    <mat-sidenav-container FullHeight>
        <mat-sidenav [mode]="'over'" [(opened)]="UI.ShowSideNav" fixedTopGap="56">
            <mat-nav-list>
                <h3 mat-subheader>Weeks</h3>
                <week-preview *ngFor="let w of Weeks" [Week]="w">
                    
                </week-preview>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet class="d-flex"></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>


