<nav-bar></nav-bar>

<div>
    <mat-sidenav-container FullHeight>
        <mat-sidenav [mode]="'over'" [(opened)]="UI.ShowSideNav" fixedTopGap="56">
            <mat-nav-list>
                <h3 mat-subheader>Weeks</h3>
                <ng-container *ngFor="let w of Weeks">
                    <mat-list-item>
                        <mat-icon mat-list-icon>assignment</mat-icon>
                        <h4 mat-line>{{w.title}}</h4>
                        <p mat-line>{{w.weekStart | date}} - {{w.weekEnd | date}} </p>
                        <p mat-line [ngClass]="{'PastDue': w.IsPastDue() && w.submitted != true, 'Submitted': w.submitted}">{{w.GetStatus()}}</p>
                        <p mat-line>{{w.GetLogCount()}} log(s)</p>
                    </mat-list-item>
                </ng-container>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet class="d-flex"></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>


