<mat-toolbar #nav color="primary">
  <button mat-icon-button [disabled]="!UI.GetIncludeSideNav()" (click)="UI.ToggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="app-name Clickable" [routerLink]="['/']">Walking Tracker</h1>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="auth.IsAuthenticated()" (click)="auth.Logout()">
      <mat-icon>lock_outline</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item *ngIf="!auth.IsAuthenticated()" [routerLink]="['/login']">
      <mat-icon>lock_open</mat-icon>
      <span>Login</span>
    </button>
  </mat-menu>
</mat-toolbar>
